<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Roll Dice</title>
</head>
<body>
    <h3>Number is <%= num %></h3>
    <% if (num == 6) { %>
    <h3>Nice!!! Roll again</h3>
    <% } %>
</body>
</html>